if SHIELD_JEFF_TRINKLE_CYBOARD_RIGHT

config ZMK_KEYBOARD_NAME
	default "JCT's Cyboard"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SHIELD_JEFF_TRINKLE_CYBOARD_LEFT || SHIELD_JEFF_TRINKLE_CYBOARD_RIGHT

config ZMK_SPLIT
	default y

endif
