# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_JEFF_TRINKLE_CYBOARD_LEFT
	def_bool $(shields_list_contains,jeff_trinkle_cyboard_left)

config SHIELD_JEFF_TRINKLE_CYBOARD_RIGHT
	def_bool $(shields_list_contains,jeff_trinkle_cyboard_right)
