# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_HERNANDEZ_CYBOARD_LEFT
	def_bool $(shields_list_contains,hernandez_cyboard_left)

config SHIELD_HERNANDEZ_CYBOARD_RIGHT
	def_bool $(shields_list_contains,hernandez_cyboard_right)
