# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_PEILERT_CYBOARD_LEFT
	def_bool $(shields_list_contains,peilert_cyboard_left)

config SHIELD_PEILERT_CYBOARD_RIGHT
	def_bool $(shields_list_contains,peilert_cyboard_right)
