# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_THOMPSON_CYBOARD_LEFT
	def_bool $(shields_list_contains,thompson_cyboard_left)

config SHIELD_THOMPSON_CYBOARD_RIGHT
	def_bool $(shields_list_contains,thompson_cyboard_right)
